@model Linq.Models.EventEntry

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.EditorFor(model=>model.Name)
                @Html.ValidationMessageFor(model=>model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DateCreate)
            </td>
            <td>
                @Html.EditorFor(model => model.DateCreate)
                @Html.ValidationMessageFor(model => model.DateCreate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </td>
            <td>
                @Html.EditorFor(model => model.DateUpdated)
                @Html.ValidationMessageFor(model => model.DateUpdated)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" class="btn btn-primary " />
            </td>
            <td>
                @Html.ActionLink("Back", "Index");
            </td>
        </tr>
    </table>
}